@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?v8gzv3');
    src:  url('fonts/icomoon.eot?v8gzv3#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?v8gzv3') format('truetype'),
        url('fonts/icomoon.woff?v8gzv3') format('woff'),
        url('fonts/icomoon.svg?v8gzv3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak-as: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.icon-phone:before {
    content: "\e942";
}
.icon-location:before {
    content: "\e947";
}
.icon-mail4:before {
    content: "\ea86";
}
.icon-amazon:before {
    content: "\ea87";
}
.icon-google-plus:before {
    content: "\ea8b";
}
.icon-telegram:before {
    content: "\ea95";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-vk:before {
    content: "\ea98";
}
.icon-youtube:before {
    content: "\ea9d";
}
.icon-twitch:before {
    content: "\ea9f";
}
.icon-vimeo:before {
    content: "\eaa0";
}
.icon-behance:before {
    content: "\eaa8";
}
.icon-steam:before {
    content: "\eaac";
}
.icon-skype:before {
    content: "\eac5";
}
.icon-linkedin2:before {
    content: "\eaca";
}

html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.header {
    height: 95px;
}

.container {
    margin: 0 auto;
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -1;
    pointer-events: none;
}

.menu {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav {
    align-self: center;
}

.nav-list {
    position: static;
    height: auto;
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    list-style: none;
    font-size: 13px;
    font-weight: 400;
    
}

.nav-item + .nav-item{
    padding-left: 30px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(7, 50, 202);
}

.menu-add {
    display: flex;
    padding-right: 50px;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    font-weight: 400;
}

.menu-add-con {
    display: flex;
    align-items: center;
    align-content: center;
}

.join-us {
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 15px;
    text-align: center;
    width: 150px;
    border-radius: 5px;
    background-color: #ffcc01;
    border: 1px solid #ffcc01;
}

.menu-btn:hover {
    background-color: transparent;
    color: black;
    border: 1px solid #ffcc01;
    transition: background-color .3s ease;
}

.promo {
    height: calc(100vh - 95px);
    width: 100%;
    position: relative;
}

.promo .container {
    position: relative;
}

.promo-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc((100vw - 1200px)/2 + 13vw);
    right: 0;
    background: #96bece;
    z-index: -1;
}

.block_search-header {
    width: 60%;
}

.promo-tel {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    bottom: 0;
    right: 300px;
    background-color: #ffcc01;
    width: 300px;
    height: 80px;
}

.promo-tel:hover {
    background-color: rgba(255, 255, 255, 0.592);
    color: black;
    border-bottom: 1px solid #96bece;
    transition: background-color .7s ease;
}

.promo-tel_img {
    align-self: center;
    font-size: 24px;
    color: white;
}

.promo-tel_link {
    margin-left: 20px;
    font-size: 20px;
    align-self: center;
}

.promo-adr {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    bottom: 0;
    right: 0;
    background-color: #ffcc01;
    width: 300px;
    height: 80px;
}

.promo-adr:hover {
    background-color: rgba(255, 255, 255, 0.592);
    border-right: 1px solid #96bece;
    border-bottom: 1px solid #96bece;
    color: black;
    transition: background-color .7s ease;
}

.promo-adr_img {
    align-self: center;
    font-size: 24px;
    color: white;
}

.promo-adr_link {
    margin-left: 20px;
    font-size: 20px;
    align-self: center;
}

.block_search {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}

.block_search-header {
    display: block;
    font-size: 62px;
    line-height: 78px;
    font-weight: 700;
    letter-spacing: -3px;
    color: #1f373d;
}

.block_search-main {
    display: flex;
}

.block_search-input {
    border: none;
    width: 365px;
    height: 70px;
    padding: 10px 10px 10px 30px;
    background: url(img/search.png) no-repeat,
    white;
    background-position: 5px 50%;
    background-size: auto;
    border-radius: 5px 0 0 5px;
}

.block_search-input:active, .block_search-input:hover, .block_search-input:focus {
    outline: 0;
    outline-offset: 0;
}

.block_search-btn {
    width: 115px;
    height: 70px;
    background: #ffcc01;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -1px;
    border: none;
    border-radius: 0 5px 5px 0;
}

.block_search-btn:hover {
    background: transparent;
    cursor: pointer;
    border: 1px solid #ffcc01;
    transition: background .5s ease;
}

.scroll-down {
    position: absolute;
    bottom: 25px;
    left: 0;
    transform: rotate(-90deg);
    transform-origin: top left;
    font-size: 12px;
    font-weight: 700;
    color: #cdd3dc;
}

.scroll-down:before {
    content: url("img/arrow.png");
    position: absolute;
    position: absolute;
    transform: rotate(90deg); 
    left: -26px;
    bottom: -9px;
}

.block-statistic {
    margin-top: 145px;
    padding-right: 66px;
}

.block-statistic .container {
    display: flex;
}

.block-statistic-left {
    width: 45%;
}

.block-statistic-left h2{
    margin: 0;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 62px;
    width: 70%;
}

.block-statistic-left p {
    font-size: 13px;
    line-height: 30px;
    letter-spacing: -0.39px;
}

.block-statistic-right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.block-statistic-item {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 200px;
    height: 200px;
    background-color: #f6f5f4;
}

.block-statistic-item:nth-child(odd) {
    margin-left: 130px;
    margin-right: 30px;
}

.block-statistic-item:nth-child(1) {
    margin-bottom: 29px;
}

.block-statistic-item:nth-child(2) {
    margin-bottom: 29px;
}

.block-statistic-item span{
    font-size: 40px;
    font-weight: 700;
    color: #ffcd08;
}

.block-statistic-item p {
    font-size: 14px;
    font-weight: 700;
}

.sales {
    background-color: #f6f5f4;
    margin-top: 78px;
    padding-right: 66px;
    padding-top: 65px;
}

.sales .container {
    display: flex;
    flex-direction: column;
}

.sales .container h2 {
    font-size: 40px;
    color: #273e44;
    line-height: 50px;
    width: 500px;
}

.sales .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 35px;
}

.sales .row:nth-child(2n-2) {
    margin-top: 78px;
}

.sales .row .card {
    width: 352px;
    height: 500px;
    box-shadow: 0 0 10px 1px rgb(118, 117, 117, 0.5);
    cursor: pointer;
}

.sales .row .card .item-img {
    height: 380px;
    background-color: #b1d7e8;
}

.sales .row .card .item-img_descr {
    height: 120px;  
    padding-left: 24px;
    padding-right: 20px;
}

.item-img_descr h3{
    font-size: 15px;
    padding-top: 27px;
    padding-bottom: 27px;
}

.item-img_descr .information {
    display: flex;
    justify-content: space-between;
}

.item-img_descr .information .cost {
    font-size: 18px;
    color: #ffd21d;
    font-weight: 700;
}

.item-img_descr .information .bathroom {
    color: #c5ccd6;
    position: relative;
    margin-left: 80px;
}

.item-img_descr .information .bathroom:before {
    content: url(img/bath.png);
    position: absolute;
    left: -30px;
    top: -7px;
}

.item-img_descr .information .bed {
    color: #c5ccd6;
    position: relative;
}

.item-img_descr .information .bed:before {
    content: url(img/bed.png);
    position: absolute;
    left: -30px;
    top: -7px;
}

.sales .row .card:hover {
    box-shadow: 0 0 10px 1px rgb(118, 117, 117);
}

.sales .row .card:hover .item-img {
    background-color: #f6f5f4;
}

.sales .row .card:hover .item-img_descr {
    background-color: #b1d7e8;
    color: #f6f5f4;
}

.sales .row .card:hover .bathroom {
    color: black;
}

.sales .row .card:hover .bed {
    color: black;
}

.sales .block_search-main {
    margin-top: 61px;
}

.sales .block_search-main {
    margin-bottom: 84px;
}

.search_place {
    display: flex;
}

.view-all-appartments {
    margin-left: 41px;
    width: 250px;
    height: 70px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 15px;
}

.view-all-appartments:hover {
    background-color: #f6f5f4;
    border: 1px solid white;
    box-shadow: 0 0 2px 1px black;
    transition: background-color .5s ease;
}

.how-it-works {
    padding-right: 66px;
}

.how-it-works .container{
    position: relative;
    display: flex;
    flex-direction: column;
}

.how-it-works-header {
    margin-top: 55px;
    font-size: 40px;
    font-weight: 700;
    color: #1f373d;
}

.how-it-works-descr {
    width: 40%;
    line-height: 30px;
    margin-top: 38px;
}

.how-it-works .row {
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
}

.how-it-works .block_works {
    width: 350px;
    height: 374px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px 1px rgb(118, 117, 117, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 146px 68px 50px 70px;
    cursor: pointer;
}

.block_works .block_works_number {
    color: #1f373d;
    position: absolute;
    font-size: 210px;
    left: -50px;
    top: -90px;
    font-weight: 600;
}

.block_works .block_works_header {
    font-size: 18px;
    font-weight: 700;
    margin-left: -20px;
}

.block_works .block_works_descr {
    font-size: 13px;
    line-height: 30px;
}

.block_works .block_works_sub {
    font-weight: 700;
    font-size: 13px;
}

.block_works .block_works_line {
    height: 2px;
    background-color: black;
    width: 40%;
}

.block_works:hover {
    box-shadow: 0 0 0 0 rgb(118, 117, 117, 0.5);
    background-color: #ffcc01;
    color: white;
}

.block_works:hover .block_works_line {
    background-color: white;
}

.block_works:hover .block_works_number {
    color: white;
}

.services {
    position: relative; 
    padding-right: 66px;
    margin-bottom: 72px;
}

.services-background {
    position: absolute;
    background-color: #acd1e1;
    left: 0;
    top: 15%;
    width: 50%;
    height: 85%;
}

.services .container {
    margin-top: 92px;
}

.services_main {
    display: flex;
    flex-direction: column;
}

.services_header {
    font-size: 40px;
    font-weight: 700;
    color: #1f373d;
    width: 100px;
}

.services_subheader {
    font-size: 13px;
    line-height: 30px;
    width: 300px;
}

.services_descr {
    margin-left: 40%;
    margin-top: 13%;
}

.services_descr h3{
    margin-bottom: 42px;
}

.services_descr p {
    margin-bottom: 65px;
    line-height: 30px;
}

.meet {
    padding-right: 66px;
    padding-bottom: 96px;
    background-color: #f6f5f4;
}

.meet .container {
    display: flex;
    flex-direction: column;
}

.meet .container h2 {
    padding-top: 63px;
    font-size: 40px;
    font-weight: 700;
    color: #1f373d;
    width: 400px;
    margin-bottom: 30px;
}

.meet .container p {
    font-size: 13px;
    line-height: 30px;
    width: 380px;
}

.meet .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 64px;
}

.meet .row .card {
    width: 352px;
    height: 500px;
    box-shadow: 0 0 10px 1px rgb(118, 117, 117, 0.5);
    cursor: pointer;
}

.meet .row .card:hover {
    box-shadow: 0 0 10px 1px rgb(118, 117, 117);
}

.meet .row .card .card-img {
    height: 380px;
    background-color: #cdccce;
}

.meet .row .card .card-img_descr {
    height: 100px;  
    padding-left: 24px;
    padding-right: 20px;
}

.card-img_descr h3{
    font-size: 15px;
    padding-top: 27px;
    padding-bottom: 27px;
}

.card-img_descr .information {
    display: flex;
    justify-content: space-between;
}

.card-img_descr .information .name {
    font-size: 15px;
    color: #ffd21d;
    font-weight: 700;
}

.card-img_descr .information .facebook {
    margin-top: -7px;
}

.card-img_descr .information .twitter {
    margin-top: -7px;
}

.card-img_descr .information .behance {
    margin-top: -7px;
}

.block_adds {
    margin-top: 88px;
    padding-right: 66px;
    width: 100%;
}

.block_adds .container {
    display: flex;
    flex-direction: column;
}

.block_adds .row {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.block_adds .row:last-child {
    margin-bottom: 104px;
}

.block_adds .row_second {
    margin-top: 93px;
}

.block_adds .row .column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block_adds-background-all {
    height: 100%;
    width: 100%;
    position: relative;
}

.block_adds-background {
    background-color: #8da4be;
    height: 100%;
    width: 100%;
    position: relative;
}

.block_adds-subbackground {
    position: absolute;
    left: 50%;
    bottom: -12%;
    transform: translateX(-50%);
    background-color: #ffcc01;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    width: 330px;
    height: 80px;
}

.block_adds-subbackground-second {
    left: 80%;
}

.block_adds_img {
    align-self: center;
    font-size: 24px;
    color: white;
}

.block_adds_link {
    margin-left: 20px;
    font-size: 20px;
    align-self: center;
}


.block_adds .row .column.right-column {
    margin-left: 100px;
}

.block_adds .row .column.right-column h3 {
    color: #1f373d;
    font-size: 25px;
}

.block_adds .row .column.right-column p {
    margin-top: 40px;
    font-size: 13px;
    line-height: 30px;
    font-weight: 500;
}

.block_adds .row .column.left-column {
    margin-right: 200px;
}

.block_adds .row .column.left-column h3 {
    text-align: right;
    color: #1f373d;
    font-size: 25px;
}

.block_adds .row .column.left-column p {
    margin-top: 40px;
    text-align: right;
    font-size: 13px;
    line-height: 30px;
    font-weight: 500;
}

.block_adds .block_adds_btn {
    cursor: pointer;
    margin-top: 20px;
    width: 240px;
    height: 82px;
    background-color: #1f373d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.block_adds .block_adds_btn:hover {
    color: #1f373d;
    background-color: transparent;
    border: 1px solid #1f373d;
}

.footer {
    background-color: #1f373d;
    color: #fff7f7;
    padding-right: 66px;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 60px;
}

.footer .container {
    display: flex;
    flex-direction: column;
}

.footer .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

.footer .row .column {
    align-self: flex-end;
}

.footer h2 {
    font-size: 40px;
}

.footer .block_subscribe-input{
    width: 475px;
    height: 70px;
}

.footer .vvv {
    margin-top: 15px;
}


.block_subscribe-input:active, .block_subscribe-input:hover, .block_subscribe-input:focus {
    outline: 0;
    outline-offset: 0;
}


/* .footer .block_subscribe-input .arrow_subscribe {
    background-color: #fff7f7;
    width: 100px;
    height: 70px;
} */

.footer .split {
    margin-top: 47px;
    margin-bottom: 80px;
    width: 100%;
    height: 1px;
    background-color: white;
}

.footer .footer_row_two .column {
    align-self: flex-start;
    width: 140px;
}

.footer .footer_row_two h2 {
    font-size: 25px;
    color: #fff7f7;
}

.footer .footer_row_two p {
    margin-top: 70px;
    font-size: 14px;
    line-height: 21px;
}

.footer .footer_row_two h3 {
    color: #6f7f8e;
    font-size: 13px;
}

.footer .footer_row_two ul {
    margin-top: 40px;
    list-style-type: none;
    padding-left: 0;
}

.footer .footer_row_two ul li + li {
    margin-top: 20px;
}

.footer .footer_row_two ul li a {
    color: #fff7f7;
    cursor: pointer;
}

.footer .footer_row_two ul li a:hover {
    text-decoration: underline;
}

/*//////////////////////////Responsive////////////////////////*/

#menu__toggle {
    display: none;
}

@media (max-width: 1200px) {

    .container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    nav {
        display: flex;
        justify-content: flex-end;
        padding: 30px 0;
        order: 1;
     }
     
     .menu__toggle {
        position: absolute;
        left: -9999999px;
        opacity: 0;
        visibility: hidden;
     }
     
     .menu__toggle:checked ~ .nav-list {
        height: auto;
        opacity: 1;
        visibility: visible;
        transition: all .3s ease-in;
     }
     
     .menu__btn {
        position: relative;
        height: 20px;
        width: 30px;
     }
     
     .menu__btn::before,
     .menu__btn::after,
     .menu__btn span {
        height: 3px;
        border-radius: 2px;
        background-color: black;
        position: absolute;
        left: 0;
        right: 0;
     }
     
     .menu__btn::before {
        content: '';
        top: 0;
     }
     
     .menu__btn::after {
        content: '';
        bottom: 0;
     }
     
     .menu__btn span {
        content: '';
        top: 50%;
        transform: translateY(-50%);
     }
    
     #menu__toggle:checked + .menu__btn span {
        opacity: 0;
        visibility: hidden;
    }
    
    #menu__toggle:checked + .menu__btn::before {
        top: 10px;
        transform: rotate(45deg);
        transition: transform 1s ease;
    }
    
    #menu__toggle:checked + .menu__btn::after {
        top: 10px;
        transform: rotate(-45deg);
        transition: transform 1s ease;
    }
     
     
     .nav-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        padding: 15px;
        height: 0;
        opacity: 0;
        visibility: hidden;
        z-index: 5;
     }

     .nav-item + .nav-item{
        padding-left: 0;
    }
     
     .nav-link {
        color: #000;
        text-decoration: none;
     }
     
     .nav-item {
        margin-bottom: 15px;
     }
     
     .nav-link:hover {
        opacity: 0.8;
     }

     .block-statistic {
         padding-right: 0;
     }

     .block-statistic .container {
         display: flex;
         flex-direction: column;
         justify-content: center;
     }

     .block-statistic-left {
        text-align: center;
        width: 100%;
     }

     .block-statistic-left h2 {
        width: 100%;
     }

     .block-statistic-right {
        width: 100%;
    }

    .block-statistic-item {
        width: 45%;
    }

    .block-statistic-item:nth-child(odd) {
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .block-statistic-item:nth-child(1) {
        margin-bottom: 29px;
    }
    
    .block-statistic-item:nth-child(2) {
        margin-bottom: 29px;
    }

    .sales {
        padding-right: 0;
        text-align: center;
    }

    .sales .container h2 {
        margin: 0 auto;
    }

    .sales .row .card {
        width: 45%;
    }

    .sales .row .card:nth-child(3n) {
        display: none;
    }

    .how-it-works {
        padding-right: 0;
        text-align: center;
    }
    
    .how-it-works-descr {
        width: 100%;
    }
    
    .how-it-works .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 30x;
    }
    
    .how-it-works .block_works {
        margin-top: 30px;
        width: 100%;
        height: 300px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0 10px 1px rgb(118, 117, 117, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 146px 68px 50px 70px;
        cursor: pointer;
    }

    .block_search-main input{
        width: 70%;
    }

    .block_works .block_works_line {
        height: 2px;
        background-color: black;
        margin: 0 auto;
        width: 20%;
    }

    .services {
        padding-right: 0;
        text-align: center;
    }

    .services .container {
        display: flex;
        flex-direction: column;
    }

    .services-background {
        display: none;
    }

    .services_header {
        width: 100%;
    }
    
    .services_subheader {
        width: 100%;
    }
    
    .services_descr {
        margin-left: 0;
        margin-top: 5%;
    }

    .meet {
        padding-right: 0;
        text-align: center;
    }

    .meet .container h2 {
        width: 100%;
    }
    
    .meet .container p {
        width: 100%;
    }

    .meet .container .card {
        width: 45%;
    }

    .meet .container .card:last-child {
        display: none;
    }

}


@media (max-width: 650px) {
    .menu-add {
        display: none;
    }

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .block_search {
        padding-top: 0;
        justify-content: center;
    }

    .block_search-header {
        text-align: center;
        font-size: 10vw;
        line-height: 12vw;
        padding-bottom: 50px;
        width: 100%;
    }

    .promo-adr {
        width: 50%;
    }

    .promo-tel {
        left: 0;
        right: auto;
        width: 50%;
    }

    .scroll-down {
        display: none;
    }

    .block-statistic {
        margin-top: 50px;
    }

    .block-statistic-right {
        width: 100%;
    }

    .block-statistic-item {
        width: 40%;
    }

    .sales .container h2 {
        font-size: 10vw;
        width: auto;
    }

    .sales .row .card {
        width: 100%;
    }

    .sales .row .card:nth-child(2n) {
        display: none;
    }

    .sales .container .block_search-main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .view-all-appartments {
        margin-top: 10px;
        margin-left: 0;
    }

    .how-it-works .container h2 {
        font-size: 10vw;
    }

    .how-it-works .container .row {
        margin-top: 10px;
    }

    .services {
        margin-bottom: 0;
    }

    .services .container .services_header {
        font-size: 10vw;
    }

    .meet .container h2 {
        font-size: 10vw;
    }

    .meet .container .row .card {
        width: 100%;
    }

    .meet .container .row .card:nth-child(2n){
        display: none;
    }

    .block_adds {
        padding-right: 0;
    }

    .block_adds .container .row .column-m {
        display: none;
    }

    .block_adds .container .row .column {
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .block_adds .container .row_second {
        margin-top: 10px;
    }

    .block_adds .container .row_second:last-child {
        margin-bottom: 30px;
    }

    .block_adds .row .column.left-column h3{
        text-align: center;
    }

    .block_adds .row .column.left-column p{
        text-align: center;
    }

    .block_adds_btn {
        margin: 0 auto;
    }
    
    .footer {
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .footer .container .row {
        flex-direction: column;
    }

    .footer_row_two {
        width: 100%;
    }

    .footer .split {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .vvv {
        margin-bottom: 10px;
    }

    .footer .block_subscribe-input {
        text-align: center;
    }

    .footer .container .row .column:nth-child(n){
        align-self: center;
        text-align: center;
    }

    .footer .container .row.footer_row_two .column p{
        margin-top: 10px;
    }

    .footer .container .row.footer_row_two .column+.column{
        display: none;
    }
}